// Variables 
// 
// Used to override Bootstrap default theme


// Colours

$primary:   #ef5350;
$secondary: #feca1b;


// Links

$link-decoration: none;


// Navs

$nav-link-font-size: 1.2rem;


// Forms

//$form-label-font-size:    1.2rem;
$form-label-font-weight:  700;
